<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/static/css/riset.css">
  <link rel="stylesheet" href="/static/css/common.css">
  <link rel="stylesheet" href="/static/css/header.css">
  <link rel="stylesheet" href="/static/css/entry.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</head>
<body>
  <div class="logo-surroundings">
    <a href="/"><img src="static/images/logo.png" alt="logo" class="logo"></a>

  </div>
  <div class="modal fade " id="myModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="logo">
          <img src="static/images/logo.png" alt="logo" class="logo">
        </div>
        <div class="form-wrapp">
          <form action="" class="login-form">
            <h2>一時ユーザー</h2>
            <div class="inputs">
              <div class="login-wrapper" style="margin-bottom: 3vh; margin-top: 3vh;">
                <input type="name" name="" id="" class="login-name" placeholder="Name" style="border:solid 1px #000 ;">
              </div>
              <div class="login-wrapper" style="margin-bottom: 3vh">
                <input type="password" name="" id="" class="login-password" placeholder="Password" style="border:solid 1px #000 ;">
              </div>
              <div class="login-submit">
                <button type="submit" value="login">login</button>
              </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="buttons">
    <p>クリックで切り替え→</p>
    <button onclick="circular()">〇</button>
    <button onclick="xMark()">×</button>
  </div>
  <div class="table-wrapp">
    <table>
      <tr>
        <th>　</th>
        <th>7/1</th>
        <th>7/2</th>
        <th>7/3</th>
        <th>7/4</th>
      </tr>
      <tr>
        <th>1</th>
        <th data-num="7/1-1" class="judg">〇</th>
        <th data-num="7/2-1" class="judg">〇</th>
        <th data-num="7/3-1" class="judg">〇</th>
        <th data-num="7/4-1" class="judg">〇</th>
      </tr>
      <tr>
        <th>2</th>
        <th data-num="7/1-1" class="judg">〇</th>
        <th data-num="7/2-1" class="judg">〇</th>
        <th data-num="7/3-1" class="judg">〇</th>
        <th data-num="7/4-1" class="judg">〇</th>
      </tr>
      <tr>
        <th>3</th>
        <th data-num="7/1-1" class="judg">〇</th>
        <th data-num="7/2-1" class="judg">〇</th>
        <th data-num="7/3-1" class="judg">〇</th>
        <th data-num="7/4-1" class="judg">〇</th>
      </tr>
      <tr>
        <th>4</th>
        <th data-num="7/1-1" class="judg">〇</th>
        <th data-num="7/2-1" class="judg">〇</th>
        <th data-num="7/3-1" class="judg">〇</th>
        <th data-num="7/4-1" class="judg">〇</th>
      </tr>
      <tr>
        <th>5</th>
        <th data-num="7/1-1" class="judg">〇</th>
        <th data-num="7/2-1" class="judg">〇</th>
        <th data-num="7/3-1" class="judg">〇</th>
        <th data-num="7/4-1" class="judg">〇</th>
      </tr>
      <tr>
        <th>6</th>
        <th data-num="7/1-1" class="judg">〇</th>
        <th data-num="7/2-1" class="judg">〇</th>
        <th data-num="7/3-1" class="judg">〇</th>
        <th data-num="7/4-1" class="judg">〇</th>
      </tr>
      <tr>
        <th>7</th>
        <th data-num="7/1-1" class="judg">〇</th>
        <th data-num="7/2-1" class="judg">〇</th>
        <th data-num="7/3-1" class="judg">〇</th>
        <th data-num="7/4-1" class="judg">〇</th>
      </tr>
      <tr>
        <th>8</th>
        <th data-num="7/1-1" class="judg">〇</th>
        <th data-num="7/2-1" class="judg">〇</th>
        <th data-num="7/3-1" class="judg">〇</th>
        <th data-num="7/4-1" class="judg">〇</th>
      </tr>
      <tr>
        <th>9</th>
        <th data-num="7/1-1" class="judg">〇</th>
        <th data-num="7/2-1" class="judg">〇</th>
        <th data-num="7/3-1" class="judg">〇</th>
        <th data-num="7/4-1" class="judg">〇</th>
      </tr>
      <tr>
        <th>10</th>
        <th data-num="7/1-1" class="judg">〇</th>
        <th data-num="7/2-1" class="judg">〇</th>
        <th data-num="7/3-1" class="judg">〇</th>
        <th data-num="7/4-1" class="judg">〇</th>
      </tr>


    </table>
  </div>
  <script>
    var myModal = new bootstrap.Modal(document.getElementById('myModal'), {
      keyboard: false
    })
    myModal.show()
    // 閉じる
    // myModal.hide()
    var mode = "〇";
    function circular() {
      mode = "〇"
    }
    function xMark() {
      mode = "×"
    }
    document.querySelectorAll('.judg').forEach(function (cards) {
      cards.addEventListener('click', function () {
        cards.textContent = mode
      });
    });
  </script>
</body>
</html>
