<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/static/css/riset.css">
  <link rel="stylesheet" href="/static/css/common.css">
  <link rel="stylesheet" href="/static/css/login.css">
</head>
<body>
  <div class="logo-surroundings">
    <img src="static/images/logo.png" alt="logo" class="logo">
  </div>
  <div class="form-wrapp">
    <form action="" class="login-form">
      <h2>ログイン</h2>
      <div class="inputs">
        <div class="login-wrapper" style="margin-bottom: 3vh; margin-top: 3vh;">
          <input type="email" name="" id="" class="login-email" placeholder="Email">
        </div>
        <div class="login-wrapper" style="margin-bottom: 3vh">
          <input type="password" name="" id="" class="login-password" placeholder="Password">
        </div>
        <div class="login-submit">
          <button type="submit" value="login">login</button>
        </div>
    </form>
  </div>

</body>
</html>
